@import 'main';

.group {
  @extend %clearfix;
  clear: both;
  position: relative;
  padding-top: 22px;
}

.groupName {
  @extend %p;

  clear: left;
  color: $clair-smoke;
  float: left;
  font-size: rem(14px);
  margin: 0;

  position: relative;
  left: -50px;
}

.groupNameSelf {
  clear: right;
  float: right;
  position: static;
}
